@charset "utf-8";



header{
    background-color:rgb(104, 166, 218);
    
} 

body{
    background-color: rgb(108, 154, 199);
} 

#logo {  
    height: 70px;
    }


input{
    border: 1px solid
}



article{
    background-color: rgb(129, 155, 180);


}


section#content{
    width: 200px;
    padding: 500px;
    padding-top: 0;
   
}

