@charset "utf-8"; 
header{
    background-color:rgb(104, 166, 218);
    
} 

body{
    background-color: rgb(110, 160, 229);
} 

#logo {  
     height: 70px;
     }

article{
    background-color: rgb(128, 173, 234); height: 500px;
    float : left;
}

nav{ 
       float:right;
       background-color: rgb(83, 147, 226);
}


ul {
    list-style-type: none; margin: 0; padding: 0; overflow: hidden;
}

.nav2{

    float:left;
  
}

.produto {
    
    height: 150px; right:  150px; 
}


.conteudo{
 
    min-width:300px;
    height: auto;
    border: 1px solid rgb(10, 26, 240);
    background: #80a1ec;
    width:125px;
    margin-top:20px;

}

li { 
    font-size: 31px;
}


