@charset "utf-8"; 
header{
    background-color:rgb(112, 178, 232);
    
} 

body{
    background-color: rgb(254, 254, 254);
} 

#logo {  
     height: 70px;
     }

article{
    background-color: rgb(139, 182, 235); height: 500px;
    float : left;

    
}

nav{ 
       float:right;
       background-color: rgb(105, 174, 248);
}


ul {
    list-style-type: none; margin: 0; padding: 0; overflow: hidden;
}

.nav2{

    float:left;
  
}

.produto {
    
    height: 150px; right:  150px; 
}


.conteudo{
 
    min-width:300px;
    height: auto;
    border: 1px solid rgb(94, 103, 230);
    background: #b8b8ed;
    width:125px;
    margin-top:20px;
    

}

li { 
    font-size: 31px;
}
form{


    text-align: center;
}

h1{
    font-size: 22px;
}
h2{

    font-size: 18px;
}

.card{
    
    width: auto; 
    margin-left: 100px;
    text-align: center;


    

}




