@charset "utf-8"; 
header{
    background-color:rgb(168, 174, 179);
    
} 

body{
    background-color: rgb(129, 134, 139);
} 

#logo {  
     height: 70px;
     }

article{
    background-color: rgb(144, 163, 182); height: 500px;
    float : left;
}

nav{ 
       float:right;
       background-color: rgb(117, 116, 114);
}


ul {
    list-style-type: none; margin: 0; padding: 0; overflow: hidden;
}

.nav2{

    float:left;
  
}

.produto {
    
    height: 150px; right:  150px; 
}


.conteudo{
 
    min-width:300px;
    height: auto;
    border: 1px solid black;
    background: #e8e2e2;
    width:125px;
    margin-top:20px;

}

li { 
    font-size: 31px;
}



